::ng-deep {
  .comment-input {
    font-size: 16px;
    outline: none;
    align-self: center;
  }

  label {
    margin: 0;
  }
  .c-dropdown {
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      border: 1px solid var(--link-color);
      border-radius: 15px;
    }
  }
}
.top-area {
  background: var(--link-bg);
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px 20px;
}
.header-text {
  font-size: 18px;
  color: var(--text-color);
}
.sub-text {
  font-size: 15px;
  color: var(--text-color);
}
.c-width{
  overflow: hidden;
}
.c-input-border {
  input {
    border: none;
    background: var(--bg-secondary);
    width: 100%;
    color: var(--text-color);
  }
  :focus {
    outline: none !important;
  }
}
::ng-deep {
  .c-searchbar .input-group {
    flex-wrap: unset;
  }
  .c-search-dropdown {
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      border: 1px solid var(--link-color);
      border-radius: 5px;
      max-height: 332px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .dropdown-menu .dropdown-item {
      font-size: 16px;
    }
  }

  @media (max-width: 770px) {
    .osahan-navbar-search {
      .form-control {
        max-width: unset !important;
        width: unset !important;
      }
    }
  }
}
